html { height: 600px; width: 400px; font-family: "Andale Mono", sans-serif; }
body { background-color: #eeeeee; }

h1, h2 { text-align: center; color: black; }

p { font-size: 14px; }

button {
  height: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  transition-duration: 0.5s; opacity 1;
  min-width: 50px;
  display: inline-block;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

button:hover { opacity:0.5; }

#privKey, #pubKey {
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  border-color: black;
}

#privateKeyHere, #publicKeyHere {
  font-family: "Andale Mono", sans-serif;
  font-size: 14px;
  color: #333;
}


/* Warning DIV */
#warning {
  padding: 10px;
  background-color: #fd7878;
  border-color: #c10000;
  border-radius: 5px;
  margin: 10px;
  display: none;
}

form { position: relative;display: table; margin-bottom: 10px; }
#format { display: table-row; }
label, input { display: table-cell; }
label { padding-right:5px; }

input {
  padding: 10px;
  background-color: white;
  color: black;
  font-family: "Andale Mono", sans-serif;
  max-width: 150px;
  min-width: 100px;
  border-color: black;
  border-width: 2px;
}

input:focus { border-color: #555;outline: none; }
